.template-1-child {
    position: absolute;
    top: 12px;
    left: 0;
    background-color: #fdfdfd;
    width: 1378px;
    height: 699px;
    display: block;
}
.text-main-color {
    color: var(--green-700);
}
.signup {
    background-color: var(--green-100);
    color: var(--green-700);
}
.signup:hover {
    background-color: var(--green-500);
    color: var(--color-white);
}
.vector-icon {
    position: absolute;
    top: 1452px;
    right: -50px;
    width: 600px;
    height: 500px;
    object-fit: contain;
    z-index: -1;
}
.vector-icon1 {
    z-index: -1;
    position: absolute;
    top: 2181px;
    left: -159px;
    width: 494px;
    height: 438px;
    object-fit: contain;
}
.vector-icon2 {
    position: absolute;
    top: 1600px;
    right: -50px;
    width: 494px;
    height: 438px;
    object-fit: contain;
    z-index: -1;
}
.vector-icon3 {
    z-index: -1;
    position: absolute;
    top: 2500px;
    left: -159px;
    width: 494px;
    height: 438px;
    object-fit: contain;
}
.vector-icon4 {
    z-index: -1;
    position: absolute;
    bottom: -100px;
    right: -159px;
    width: 494px;
    height: 438px;
    object-fit: contain;
}
.vector-icon5 {
    z-index: -1;
    position: absolute;
    bottom: -100px;
    left: -159px;
    width: 494px;
    height: 438px;
    object-fit: contain;
}
.color-blur-icon {
    position: absolute;
    top: -162px;
    left: -173px;
    width: 741px;
    height: 523px;
}
.section1__image-cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    max-width: 100%;
    max-height: 100%;
}
.image-cover-2 {
    width: 60%;
    max-width: 100%;
    max-height: 100%;
}
.image-6-icon {
    max-width: 100%;
    max-height: 100%;
    width: 50vw;
    height: 100vh;
    border-radius: 0 0 0 80px;
    object-fit: cover;
    z-index: -1;
}
.k-peoples-child {
    width: 126px;
    position: relative;
}
.k-peoples-child-1 {
    position: absolute;
    top: -60px;
    left: -42px;
}
.k-peoples-child-2 {
    position: absolute;
    top: -60px;
    left: -9px;
}
.k-peoples-child-3 {
    position: absolute;
    top: -38px;
    left: 60px;
}
.k-people {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.successfully-getting-home {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 20px;
    color: var(--mrt-app-subheadline);
}
.k-people-parent,
.k-peoples {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.k-people-parent {
    position: relative;
    width: 156px;
    padding: 5px 0 5px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-11xs);
}
.k-peoples {
    box-shadow: var(--shadow-ig-post);
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xl);
    gap: var(--gap-base);
}
.k-peoples-item {
    width: 56px;
    position: relative;
    border-radius: var(--br-5xl);
    height: 56px;
    object-fit: cover;
}
.houses {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.sold-monthly {
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 20px;
    color: var(--mrt-app-subheadline);
}
.houses-parent,
.k-peoples-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
}
.k-peoples-parent {
    position: absolute;
    top: 600px;
    left: 122px;
    max-width: 100%;
    width: 200em;
    flex-direction: row;
    gap: var(--gap-base);
}

.img-child {
    position: absolute;
    top: 126.5px;
    left: 86.8px;
    width: 554.9px;
    height: 382.5px;
}
.img {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    height: 720px;
}
.child {
    width: 136px;
    position: relative;
    border-radius: var(--br-5xl);
    height: 136px;
    object-fit: cover;
}
.manhattan-style {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 26px;
    font-weight: 500;
}
.lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    color: var(--mrt-app-subheadline);
}
.claritystar-solid-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.review {
    flex: 1;
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.claritystar-solid-parent,
.manhattan-style-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.claritystar-solid-parent {
    align-self: stretch;
    flex-direction: row;
}
.manhattan-style-parent {
    flex: 1;
    flex-direction: column;
}
.div,
.recommended1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.div {
    width: 420px;
    box-shadow: 0 10px 8px rgba(72, 72, 72, 0.2);
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    align-items: center;
    padding: var(--padding-xs) var(--padding-13xl) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
}
.recommended1 {
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
}
.pagination-icon,
.recommended {
    position: absolute;
    top: 176px;
    left: 32.7px;
    width: 61.3px;
    height: 12px;
}
.recommended {
    top: 516px;
    left: 691.4px;
    width: 864px;
    height: 188px;
    display: none;
    font-size: var(--font-size-xs);
}
.logo1 {
    width: 36.8px;
    height: 36px;
}
.hounter {
    text-transform: capitalize;
    display: inline-block;
    width: 68.5px;
    height: fit-content;
    font-weight: bold;
    color: var(--mrt-app-headline);
}
.logo {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    gap: 12px;
    width: 117.5px;
    height: 36px;
    padding-left: 46px;
    font-size: var(--font-size-base);
}
.about-us {
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
}
.about-us-wrapper {
    cursor: pointer;
    border-radius: var(--br-13xl);
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-gray-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-base);
}
.property-parent:hover,
.about-us-wrapper:hover {
    background-color: var(--neutral-500);
}
.evaarrow-ios-forward-fill-icon {
    width: 18px;
    position: relative;
    padding-top: 4px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent,
.property-parent {
    z-index: 10;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.property-parent {
    cursor: pointer;
    border-radius: var(--br-13xl);
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-gray-100);
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-3xs);
    color: var(--neutral-100);
}
.frame-parent {
    gap: var(--gap-5xl);
    color: var(--neutral-100);
    padding-right: 80px;
    height: 46px;
}
.sign-up {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.sign-up-wrapper:hover {
    background-color: var(--green-500);
    color: var(--color-white);
}
.sign-up-wrapper {
    cursor: pointer;
    border-radius: var(--br-13xl);
    background-color: var(--green-100);
    padding: var(--padding-xs) var(--padding-5xl);
    color: var(--green-700);
    margin-left: 40px;
}
.section1__navbar-login {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46px;
    font-size: var(--font-size-sm);
}
.find-the-place {
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--font-lexend);
    color: var(--mrt-app-headline);
    margin: 0;
    line-height: 40px;
}
.find-the-place-container {
    display: inline-block;
    text-shadow: 1px 0 0#1b1c57, 0 1px 0#1b1c57, -1px 0 0#1b1c57, 0-1px 0#1b1c57;
}
.text-stroke {
    color: var(--color-white);
    animation: strokeEffect 1.8s ease-in-out infinite alternate;
}

@keyframes strokeEffect {
    0% {
        color: var(--mrt-app-headline);
    }
    50% {
        color: var(--color-white);
    }
    100% {
        /* color: var(--mrt-app-headline); */
        color: var(--color-white);
    }
}
.everything-you-need {
    width: 94%;
    font-size: var(--font-size-base);
    line-height: 28px;
    color: var(--mrt-app-neutral-01);
    opacity: 0.75;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    color: var(--mrt-app-headline);
}
.fluentlocation-16-filled-icon {
    width: 28px;
    position: relative;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
}
.contact-now:hover {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.contact-now-animate {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
.search-input {
    outline: none;
    width: 100%;
    border: none;
    font-family: var(--font-lexend);
    line-height: 22px;
    font-weight: 500;
    color: var(--mrt-app-headline);
}

.search:focus-within,
.search-2:focus-within {
    border: 1px solid var(--neutral-500);
}

::-webkit-input-placeholder {
    line-height: 22px;
    font-weight: 500;
    font-family: var(--font-lexend);
    opacity: 0.7;
}
.search,
.search-2,
.search-button,
.search-button-2 {
    border-radius: var(--br-13xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-button,
.search-button-2 {
    cursor: pointer;
    background-color: var(--green-500);
    padding: var(--padding-xs) var(--padding-base);
    gap: var(--gap-9xs);
    color: var(--color-white);
}
.search-button-2 {
    width: 50%;
    height: 46px;
}
.contact-now2:hover,
.search-button-2:hover,
.search-button:hover {
    background-color: var(--green-700);
}

.search {
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--neutral-300);
    box-sizing: border-box;
    padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs) var(--padding-5xl);
    gap: var(--gap-base);
    font-size: var(--font-size-sm);
}
.search-2 {
    width: 100%;
    height: 54px;
    background-color: var(--color-white);
    border: 1px solid var(--neutral-300);
    box-sizing: border-box;
    padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs) var(--padding-5xl);
    gap: var(--gap-base);
    font-size: var(--font-size-sm);
}
.our-partnership1 {
    line-height: 32px;
}
.traveloka-logo-2-icon {
    cursor: pointer;
    flex: 1 1 auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 64px;
    object-fit: cover;
}
.traveloka-logo-2-parent {
    height: fit-content;
    width: 88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    flex-wrap: wrap;
}
.our-partnership {
    width: 100%;
    font-size: var(--font-size-base);
}
.section1__title-search {
    position: relative;
    width: 34%;
    margin: 70px 0 0 132px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    font-size: 40px;
    color: var(--neutral-500);
    font-family: var(--font-lexend);
}
.section1 {
    position: relative;
    width: 100%;
    height: 747px;
    font-size: var(--font-size-base);
}
.our-recommendation {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 44px;
}
.group-inner {
    position: absolute;
    top: 11px;
    background-color: var(--yellow-500);
    width: 32px;
    height: 1px;
}
.our-recommendation-parent {
    font-size: var(--font-size-sm);
    color: var(--yellow-500);
    position: relative;
}
.our-recommendation-1 {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
}
.group-inner-1 {
    margin-left: 12px;
    position: absolute;
    top: 11px;
    left: -54px;
    background-color: var(--yellow-500);
    width: 32px;
    height: 1px;
}
.our-recommendation-parent-1 {
    font-size: var(--font-size-sm);
    color: var(--yellow-500);
    position: relative;
}
.ready-to-sell {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
}
.group-inner-1 {
    margin-left: 12px;
    position: absolute;
    top: 11px;
    left: -54px;
    background-color: var(--yellow-500);
    width: 32px;
    height: 1px;
}
.ready-to-sell-parent {
    font-size: var(--font-size-sm);
    color: var(--yellow-500);
    position: relative;
    margin-left: -168px;
}
.featured-house {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xs);
    width: 32%;
    justify-content: center;
    align-items: flex-start;
}
.featured-house-2 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xs);
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.house {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}
.phhouse-fill-parent {
    border-radius: var(--br-13xl);
    background-color: var(--green-100);
    align-items: center;
    padding: var(--padding-xs) var(--padding-5xl);
    gap: var(--gap-5xs);
    color: var(--green-500);
    cursor: pointer;
}
.category,
.icround-villa-parent,
.phhouse-fill-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.icround-villa-parent {
    border-radius: var(--br-13xl);
    border: 1px solid var(--neutral-300);
    align-items: center;
    padding: var(--padding-xs) var(--padding-5xl);
    gap: var(--gap-5xs);
    cursor: pointer;
}
.category {
    align-items: flex-end;
    justify-content: center;
    gap: var(--gap-13xl);
    font-size: var(--font-size-lg);
    color: var(--neutral-500);
    width: 50%;
    margin-bottom: 4px;
}
.img-item {
    border-radius: var(--br-5xl);
    width: 100%;
    max-width: 100%;
    height: 382px;
    overflow: hidden;
    object-fit: cover;
}

@keyframes flameMovement {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes flameMovement-1 {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
@keyframes flameMovement-2 {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5px);
    }
}

.ant-designfire-filled-icon {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.popular {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
}
.ant-designfire-filled-parent {
    position: absolute;
    top: 332px;
    left: 16px;
    border-radius: var(--br-13xl);
    background-color: var(--red-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-3xs);
    animation: flameMovement 1.5s ease-in-out infinite;
}
.ant-designfire-filled-parent:hover {
    background-color: #fcd5d5;
}
#img1 {
    cursor: pointer;
    width: 340px;
    position: relative;
    height: 382px;
    color: var(--red-500);
}
.div2,
.roselands-house {
    align-self: stretch;
    position: relative;
    line-height: 32px;
    font-weight: 500;
}
.div2 {
    font-size: var(--font-size-xl);
    color: var(--neutral-700);
}
.nama-rumah-harga {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-5xl);
}
.nama-pekerjaan-child {
    width: 40px;
    position: relative;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}
.dianne-russell,
.manchester-kentucky {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.manchester-kentucky {
    font-size: var(--font-size-sm);
    line-height: 22px;
    color: var(--neutral-500);
}
.dianne-russell-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.nama-pekerjaan {
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.nama-pekerjaan-wrapper {
    flex-direction: column;
    font-size: var(--font-size-lg);
}
.nama-pekerjaan-wrapper,
.phhouse-fill-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-11xs);
    overflow: hidden;
    flex-direction: column;
    gap: var(--gap-5xl);
    max-width: 100%;
}
.phhouse-fill-group {
    position: absolute;
    top: 332px;
    left: 16px;
    border-radius: var(--br-13xl);
    background-color: var(--blue-100);
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-3xs);
    animation: flameMovement-1 1.5s ease-in-out infinite;
}
.phhouse-fill-group:hover {
    background-color: #c7ddfa;
}
#img2 {
    cursor: pointer;
    width: 340px;
    position: relative;
    height: 382px;
    color: var(--blue-700);
}
.entypowallet-parent,
.nama-pekerjaan1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nama-pekerjaan1 {
    width: 340px;
    align-items: center;
    gap: var(--gap-base);
    font-size: var(--font-size-lg);
}
.entypowallet-parent {
    position: absolute;
    top: 332px;
    left: 16px;
    border-radius: var(--br-13xl);
    background-color: var(--green-100);
    align-items: center;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-3xs);
    animation: flameMovement 1.5s ease-in-out infinite;
}
.entypowallet-parent:hover {
    background-color: #bffadb;
}
#img3 {
    cursor: pointer;
    width: 340px;
    position: relative;
    height: 382px;
    color: var(--green-700);
}
.house1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    font-size: var(--font-size-sm);
    color: var(--neutral-900);
    flex-wrap: wrap;
}
.search-button1,
.search-button2 {
    border-radius: var(--br-13xl);
    background-color: var(--neutral-300);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
}
.search-button1:hover,
.search-button2:hover {
    background-color: var(--green-500);
    cursor: pointer;
}
.search-button1:hover svg path,
.search-button2:hover svg path {
    fill: white;
}
.arrow {
    width: 18%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: var(--gap-base);
    margin-bottom: 4px;
}
.section-2 {
    position: relative;
    display: flex;
    width: 100%;
    font-size: var(--font-size-13xl);
    margin-top: 120px;
    gap: var(--gap-13xl);
    flex-direction: column;
    padding: 0 122px 0;
}
.header-section-2 {
    display: flex;
}
.img-icon {
    max-width: 100%;
    max-height: 100%;
    width: 35vw;
    height: 28vw;
    cursor: pointer;
}
.lets-tour-and,
.lets-tour-and-1 {
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--font-lexend);
    color: var(--mrt-app-headline);
}
.lets-tour-and-1 {
    margin-left: 44px;
}
.ready-to-sell-parent {
    width: 100%;
    font-size: var(--font-size-sm);
    color: var(--yellow-500);
}
.houses-recommended-by {
    font-size: var(--font-size-base);
    line-height: 28px;
    color: var(--mrt-app-neutral-01);
    display: inline-block;
    width: 60%;
    opacity: 0.75;
}
.house-detail1 {
    line-height: 28px;
    font-weight: 600;
    color: var(--mrt-app-headline);
    display: inline-block;
    width: 100%;
    opacity: 0.75;
}
.bed-1-icon {
    width: 32px;
    position: relative;
    border-radius: var(--br-9xs);
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.bedrooms1 {
    flex: 1;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
}
.bedrooms,
.row-1 {
    display: flex;
}
.bedrooms {
    width: 50%;
    align-items: center;
    gap: var(--gap-base);
}
.row-1 {
    align-items: flex-start;
    gap: var(--gap-34xl);
}
.house-detail {
    width: 100%;
}
.row-1,
.row-2 {
    width: 50%;
}
.row-2 {
    display: flex;
    gap: var(--gap-34xl);
}
.house-detail {
    font-size: var(--font-size-base);
    color: var(--neutral-700);
    padding-top: var(--padding-xs);
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    width: 100%;
}
.info-child,
.title-house-detail {
    padding-left: 47px;
    width: 100%;
}
.info-child {
    background-color: var(--neutral-100);
    width: 70%;
    height: 2px;
    margin: 16px 0 24px 0;
}
.ellipse-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px;
}
.dianne-russell1,
.manager-director {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.manager-director {
    font-size: var(--font-size-base);
    color: var(--neutral-500);
}
.nama-pekerjaan3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    text-align: start;
}
.ellipse-parent {
    align-items: center;
    gap: 14px;
    display: flex;
    padding-left: 43px;
    width: 36%;
    height: 56px;
}
.contact-now:hover {
    cursor: pointer;
    background-color: var(--green-700);
}
.contact-now {
    border-radius: var(--br-13xl);
    background-color: var(--green-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    gap: var(--gap-base);
    font-size: var(--font-size-sm);
    color: var(--color-white);
    margin-left: 26px;
}
.contact-info {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--font-size-lg);
    color: var(--neutral-900);
    position: relative;
}
.info {
    width: 100%;
    padding-top: 20px;
}
.section-3 {
    display: flex;
    width: 100%;
    font-size: var(--font-size-13xl);
    margin-top: 120px;
    gap: var(--gap-13xl);
    padding: 0 122px 0;
}
.frame-child,
.frame-item {
    position: relative;
    object-fit: cover;
}
.frame-child {
    width: 200px;
    border-radius: var(--br-base);
    height: 100%;
}
.frame-item {
    width: 32px;
    border-radius: 50%;
    height: 32px;
}
.ellipse-group {
    display: flex;
    flex-direction: row;
    gap: var(--gap-base);
    align-items: center;
}
.the-things-we {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 32px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--mrt-app-headline);
}
.frame-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}
.min-read {
    flex: 1;
    position: relative;
    line-height: 24px;
    font-size: var(--font-size-sm);
}
.icround-access-time-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    color: var(--neutral-500);
}
.frame-group,
.icround-access-time-parent,
.rectangle-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-group {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
}
.rectangle-parent {
    gap: var(--gap-13xl);
}
.courtney-henry {
    position: relative;
    line-height: 22px;
    font-size: var(--font-size-sm);
}
.rectangle-container,
.rectangle-group {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-13xl);
}
.col1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.col-2-child {
    border-radius: var(--br-base);
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.things-to-know,
.want-to-buy {
    position: relative;
}
.things-to-know {
    font-size: var(--font-size-5xl);
    line-height: 32px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--mrt-app-headline);
}
.want-to-buy {
    font-size: var(--font-size-sm);
    line-height: 24px;
    color: var(--mrt-app-neutral-01);
    opacity: 0.75;
}

.frame-parent4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xl);
}
.find-out-more-container,
.see-tips-and {
    text-transform: capitalize;
    font-weight: 600;
}
.see-tips-and {
    font-weight: 500;
    margin-top: 4px;
}

.group-child1 {
    background-color: var(--yellow-500);
    width: 32px;
    height: 2px;
    margin: auto;
}
.see-tips-and-trick-from-our-pa-parent {
    width: 100%;
    font-size: var(--font-size-sm);
    color: var(--yellow-500);
    margin-bottom: 10px;
}
.title2 {
    width: 100%;
}
.contact-now2 {
    border-radius: var(--br-13xl);
    background-color: var(--green-500);
    padding: var(--padding-xs) var(--padding-base);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    width: 118px;
    cursor: pointer;
    margin: 24px auto 40px;
}
.title1 {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--mrt-app-headline);
}
.subscribe-child {
    width: 100%;
}
.section-5 {
    color: var(--neutral-700);
    width: 100%;
    font-size: var(--font-size-13xl);
    margin-top: 120px;
    padding: 0 122px 0;
}
.section-5-body {
    width: 100%;
    display: flex;
    gap: 68px;
}
.subscribe-child3 {
    animation: flameMovement-1 1.5s ease-in-out infinite;
}
.subscribe-child4 {
    animation: flameMovement-1 1.5s ease-in-out infinite;
}
.subscribe-inner {
    animation: flameMovement 1.5s ease-in-out infinite;
}
.subscribe-item {
    animation: flameMovement 1.5s ease-in-out infinite;
}
.subscribe-child1,
.subscribe-child2,
.subscribe-inner,
.subscribe-item {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.subscribe-child3,
.subscribe-child4,
.subscribe-child5,
.subscribe-child6 {
    border-radius: var(--br-5xl);
    width: 81px;
    height: 81px;
    object-fit: cover;
}
.subscribe-child4,
.subscribe-child5,
.subscribe-child6 {
    width: 54px;
    height: 54px;
}
.subscribe-child5,
.subscribe-child6 {
    width: 70px;
    height: 70px;
}
.subscribe-child6 {
    width: 55px;
    height: 55px;
}
.search-button3,
.search2 {
    border-radius: var(--br-13xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.search-button3 {
    background-color: var(--green-500);
    padding: var(--padding-xs) var(--padding-base);
    color: var(--color-white);
}
.search2 {
    box-shadow: var(--shadow-smooth);
    background-color: var(--color-white);
    width: 496px;
    padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs) var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-base);
}
.subscribe-for-more-container {
    font-size: var(--font-size-13xl);
    line-height: 48px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--mrt-app-headline);
    text-align: center;
    margin-bottom: var(--padding-13xl);
}
.subscribe-for-more-container > p:first-child {
    margin-bottom: 8px;
}
.subscribe {
    border-radius: var(--br-13xl);
    overflow: hidden;
    color: var(--neutral-500);
    width: 100%;
    font-size: var(--font-size-13xl);
    margin-top: 120px;
    padding: 0 122px 0;
    position: relative;
}
.subscribe-cover {
    background: rgb(142, 182, 250);
    background: linear-gradient(
        90deg,
        rgba(142, 182, 250, 1) 0%,
        rgba(208, 216, 241, 1) 14%,
        rgba(217, 221, 241, 1) 30%,
        rgba(222, 226, 242, 1) 40%,
        rgba(235, 241, 246, 1) 49%,
        rgba(242, 252, 249, 1) 67%,
        rgba(242, 249, 249, 1) 74%,
        rgba(241, 247, 250, 1) 79%,
        rgba(241, 246, 250, 1) 81%,
        rgba(235, 239, 250, 1) 83%,
        rgba(225, 228, 249, 1) 89%,
        rgba(222, 225, 246, 1) 91%,
        rgba(208, 216, 249, 1) 100%
    );
    width: 100%;
    height: 100%;
    border-radius: var(--br-13xl);
    display: flex;
}
.subscribe-1,
.subscribe-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.subscribe-1 {
    gap: var(--gap-34xl);
}
.subscribe-2 {
    margin-top: 65px;
    margin-bottom: 65px;
    width: 40%;
}
.subscribe-row-1,
.subscribe-row-2 {
    align-items: center;
    display: flex;
    gap: 79px;
}
.subscribe-row-2 {
    align-items: flex-start;
}
.subscribe-row-3,
.subscribe-row-5 {
    align-self: start;
    padding-left: 100px;
    animation: flameMovement-1 1.5s ease-in-out infinite;
}
.subscribe-row-5 {
    padding-left: 130px;
}
.subscribe-row-4,
.subscribe-row-6 {
    align-self: end;
    padding-right: 100px;
    animation: flameMovement-1 1.5s ease-in-out infinite;
}
.subscribe-row-4,
.subscribe-row-5 {
    display: flex;
    justify-content: flex-start;
    animation: flameMovement 1.5s ease-in-out infinite;
}
.we-provide-information {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    width: 50%;
    opacity: 0.75;
    padding-bottom: 16px;
}
.logo-child1,
.logo-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xs) var(--br-9xs) var(--br-5xl) var(--br-9xs);
    background-color: var(--yellow-500);
    width: 32px;
    height: 32px;
}
.logo-child1 {
    top: 4px;
    left: 4px;
    background-color: var(--color-turquoise);
}
.logo3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
}
.hounter1 {
    position: absolute;
    top: 10px;
    left: 48px;
    text-transform: capitalize;
    font-family: var(--font-lexend);
}
.logo-cover {
    position: relative;
    width: 100%;
}
.logo2 {
    height: 36px;
    font-size: var(--font-size-base);
    color: var(--mrt-app-headline);
}
.brandicofacebook-icon {
    cursor: pointer;
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.brandicofacebook-icon:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(85%) saturate(1705%) hue-rotate(178deg) brightness(90%)
        contrast(95%);
}

.brandicofacebook-icon:hover[src*="brandicofacebook.svg"] {
    filter: brightness(0) saturate(100%) invert(29%) sepia(85%) saturate(1705%) hue-rotate(178deg) brightness(90%)
        contrast(95%);
}

.brandicofacebook-icon:hover[src*="antdesigntwitteroutlined.svg"] {
    filter: brightness(0) saturate(100%) invert(50%) sepia(69%) saturate(4326%) hue-rotate(174deg) brightness(100%)
        contrast(98%);
}

.brandicofacebook-icon:hover[src*="antdesigninstagramfilled.svg"] {
    filter: brightness(0) saturate(100%) invert(31%) sepia(64%) saturate(2753%) hue-rotate(311deg) brightness(92%)
        contrast(105%);
}

/* For SVGs */
svg:hover path {
    transition: fill 0.3s ease;
}

svg:hover path {
    fill: #34559b; /* Facebook blue */
}

svg:nth-of-type(2):hover path {
    fill: #1da1f2; /* Twitter blue */
}

svg:nth-of-type(3):hover path {
    fill: #e4405f; /* Instagram pink */
}
.brandicofacebook-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.bio {
    width: 50%;
    color: var(--mrt-app-neutral-01);
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);
}
.component {
    width: 50%;
    display: flex;
    gap: var(--gap-base);
}
.property1,
.article1,
.contact {
    width: 26%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.property2 {
    font-size: var(--font-size-lg);
    text-transform: capitalize;
    font-weight: 600;
    color: var(--neutral-900);
    padding-bottom: 4px;
}
.contact {
    width: 48%;
}
.most-read,
.new-article,
.popular-article,
.tips-tricks,
.infohountercom {
    cursor: pointer;
    text-transform: capitalize;
    font-size: var(--font-size-sm);
}
.most-read:hover,
.new-article:hover,
.popular-article:hover,
.tips-tricks:hover,
.infohountercom:hover {
    color: rgb(90, 90, 90);
}
.footer {
    font-family: var(--font-lexend);
    border-radius: var(--br-13xl);
    overflow: hidden;
    color: var(--neutral-500);
    width: 100%;
    font-size: var(--font-size-13xl);
    margin-top: 120px;
    padding: 0 122px 0;
    position: relative;
    display: flex;
    height: 270px;
}
.template-1 {
    width: 100%;
    background-color: var(--color-white);
    max-width: 100%;
    height: 3747px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--mrt-app-headline);
    font-family: var(--font-lexend);
}

#back-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    display: none;
    background-color: var(--green-500);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    font-size: 30px;
}

#back-to-top:hover {
    background-color: var(--green-700);
}

@media only screen and (min-width: 340px) and (max-width: 600px) {
    .image-cover-2 {
        width: 100%;
    }
    .show-video {
        display: none;
    }
    .section1__image-cover {
        display: none;
    }
    .frame-parent {
        display: none;
    }
    .section1__title-search {
        width: 80%;
        margin: 50px auto 0 auto;
    }
    .logo {
        padding-left: 0px;
    }
    .traveloka-logo-2-parent {
        margin: auto;
    }
    .header-section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .category {
        width: 100%;
        flex-wrap: wrap;
    }
    .arrow {
        display: none;
    }
    .group-inner,
    .group-inner-1 {
        background-color: var(--yellow-500);
        width: 32px;
        height: 1px;
        margin: auto;
        position: unset;
        top: 0;
    }
    .group-inner-1 {
        height: 2px;
        margin-bottom: 4px;
    }
    .featured-house {
        width: 100%;
        margin: auto;
        align-items: unset;
        margin-bottom: 12px;
    }
    .our-recommendation {
        text-align: center;
    }
    .our-recommendation,
    .lets-tour-and-1 {
        margin: auto;
    }
    .section-2 {
        margin-top: 60px;
        padding: 0;
    }
    .contact-info,
    .section-3 {
        flex-direction: column;
    }
    .title-house-detail {
        padding-left: 0;
    }
    .featured-house-2 {
        align-items: center;
        text-align: center;
    }
    .houses-recommended-by {
        width: 100%;
    }
    .house-detail {
        text-align: center;
    }
    .row-1,
    .row-2 {
        width: 100%;
        margin: auto;
    }
    .bedrooms1 {
        flex: unset;
    }
    .row-1 > .bedrooms:nth-child(1),
    .row-2 > .bedrooms:first-child {
        justify-content: flex-end;
    }
    .bedrooms {
        width: 100%;
    }
    .contact-info {
        width: 100%;
        gap: 8px;
    }
    .ellipse-parent {
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    .nama-pekerjaan3 {
        align-items: flex-start;
    }
    .contact-now {
        margin-left: 0;
        margin-top: 24px;
    }
    .ellipse-icon {
        position: unset;
    }
    .info-child {
        width: 100%;
    }
    .img-icon {
        width: 100%;
    }
    .subscribe,
    .section-5,
    .section-3 {
        padding: 0 20px 0;
        margin-top: 40px;
    }
    .section-5-body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .col1,
    .col2 {
        width: 100%;
    }
    .subscribe-row-2,
    .subscribe-row-1 {
        gap: 5px;
    }
    .subscribe-row-3 {
        padding-left: 65px;
    }
    .subscribe-row-6,
    .subscribe-row-4 {
        padding-right: 80px;
    }
    .subscribe-row-5 {
        padding-left: 100px;
    }
    .sign-up {
        text-align: center;
    }
    .footer {
        padding: 0 20px 0;
        flex-direction: column;
        height: 60vh;
        margin-top: 60px;
    }
    .we-provide-information,
    .bio,
    .component {
        width: 100%;
    }
    .component {
        margin-top: 20px;
    }
    .rectangle-parent,
    .rectangle-group,
    .rectangle-container {
        flex-direction: column;
    }
    .frame-child {
        width: 100%;
    }
    /* .subscribe-1,.subscribe-3{
        display: none;
    } */
    .subscribe-1,
    .subscribe-3,
    .subscribe-2 {
        width: 88%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .subscribe-1,
    .subscribe-3 {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .subscribe-cover {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .image-cover-2 {
        width: 100%;
    }
    .show-video {
        display: none;
    }
    .k-peoples-parent {
        display: none;
    }
    .section1__image-cover {
        display: none;
    }
    .section1__title-search {
        width: 100%;
        margin: 70px 0px 0px 0px;
    }
    .section1 {
        padding: 0 40px;
    }
    .traveloka-logo-2-parent {
        margin: auto;
    }
    .everything-you-need {
        width: 100%;
    }
    .frame-parent {
        display: none;
    }
    .logo {
        padding-left: 10px;
    }
    .header-section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arrow {
        display: none;
    }
    .group-inner-1,
    .group-inner {
        background-color: var(--yellow-500);
        width: 32px;
        height: 1px;
        margin: auto;
        position: unset;
        top: 0;
    }
    .group-inner-1 {
        height: 2px;
        margin-bottom: 4px;
    }
    .featured-house {
        width: 100%;
        margin: auto;
        align-items: unset;
        margin-bottom: 12px;
    }
    .our-recommendation {
        text-align: center;
    }
    .our-recommendation,
    .lets-tour-and-1 {
        margin: auto;
    }
    .section-2 {
        margin-top: -110px;
        padding: 0 40px 0;
    }
    .contact-info,
    .section-3 {
        flex-direction: column;
    }
    .title-house-detail {
        padding-left: 0;
    }
    .featured-house-2 {
        align-items: center;
        text-align: center;
    }
    .houses-recommended-by {
        width: 100%;
    }
    .house-detail {
        text-align: center;
    }
    .row-1,
    .row-2 {
        width: 100%;
        margin: auto;
    }
    .bedrooms1 {
        flex: unset;
    }
    .row-1 > .bedrooms:nth-child(1),
    .row-2 > .bedrooms:first-child {
        justify-content: flex-end;
    }
    .bedrooms {
        width: 100%;
    }
    .contact-info {
        width: 100%;
        gap: 8px;
    }
    .ellipse-parent {
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    .nama-pekerjaan3 {
        align-items: flex-start;
    }
    .contact-now {
        margin-left: 0;
        margin-top: 24px;
    }
    .ellipse-icon {
        position: unset;
    }
    .info-child {
        width: 100%;
    }
    .img-icon {
        width: 100%;
    }
    .subscribe,
    .section-5,
    .section-3 {
        padding: 0 40px 0;
        margin-top: 40px;
    }
    .section-5-body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .col1,
    .col2 {
        width: 100%;
    }
    .subscribe-row-2,
    .subscribe-row-1 {
        gap: 5px;
    }
    .subscribe-row-3 {
        padding-left: 65px;
    }
    .subscribe-row-6,
    .subscribe-row-4 {
        padding-right: 80px;
    }
    .subscribe-row-5 {
        padding-left: 100px;
    }
    .sign-up {
        text-align: center;
    }
    .footer {
        padding: 0 62px 0;
        flex-direction: column;
        height: 60vh;
    }
    .we-provide-information,
    .bio,
    .component {
        width: 100%;
    }
    .component {
        margin-top: 20px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .show-image-video {
        display: none;
    }
    .k-peoples-parent,
    .img-child {
        display: none;
    }
    #navbarOffcanvas {
        display: none;
    }
    .header-section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-section-2 > :nth-child(1) {
        align-items: flex-start;
        width: 100%;
    }
    .category {
        align-items: center;
        justify-content: center;
    }
    .arrow {
        display: none;
    }
    .our-recommendation-parent {
        margin-left: 0;
    }
    .row-1,
    .row-2 {
        width: 98%;
    }
    .info-child {
        width: 100%;
    }
    .houses-recommended-by {
        width: 100%;
    }
    .contact-info {
        width: 180%;
    }
    .section-5-body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .col1,
    .col2 {
        width: 100%;
    }
    .search-button-2 {
        width: 112%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .show-image-video {
        display: none;
    }
    .k-peoples-parent,
    .img-child {
        display: none;
    }
    #navbarOffcanvas {
        display: none;
    }
    .header-section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-section-2 > :nth-child(1) {
        align-items: flex-start;
        width: 100%;
    }
    .category {
        align-items: center;
        justify-content: center;
    }
    .arrow {
        display: none;
    }
    .our-recommendation-parent {
        margin-left: 0;
    }
    .ellipse-parent {
        width: 50%;
    }
    .row-1,
    .row-2 {
        width: 70%;
    }
    .info-child {
        width: 80%;
    }
    .houses-recommended-by {
        width: 90%;
    }
    .search-button-2 {
        width: 62%;
    }
    .section-2 {
        margin-top: 40px;
    }
}
@media only screen and (min-width: 1401px) and (max-width: 1984px) and (max-height: 1024px) {
    .show-image-video {
        display: none;
    }
    #navbarOffcanvas {
        display: none;
    }
    .k-peoples-parent {
        top: 750px;
    }
    .section-2 {
        margin-top: 300px;
    }
}
@media only screen and (min-width: 1401px) and (max-width: 1984px) and (max-height: 800px) {
    .show-image-video {
        display: none;
    }
    #navbarOffcanvas {
        display: none;
    }
    .k-peoples-parent {
        top: 600px;
    }
    .section-2 {
        margin-top: 120px;
    }
}
@media only screen and (min-width: 1401px) and (max-width: 1984px) and (max-height: 700px) {
    .show-image-video {
        display: none;
    }
    #navbarOffcanvas {
        display: none;
    }
    .k-peoples-parent {
        top: 530px;
    }
    .section-2 {
        margin-top: 40px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) and (max-height: 1024px) {
    .section-2 {
        margin-top: 300px;
    }
    .show-image-video {
        display: none;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) and (max-height: 800px) {
    .section-2 {
        margin-top: 80px;
    }
    .show-image-video {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) and (max-height: 1024px) {
    .section-2 {
        margin-top: 300px;
    }
    .show-image-video {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) and (max-height: 800px) {
    .section-2 {
        margin-top: 80px;
    }
    .show-image-video {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) and (max-height: 1400px) {
    .section1__title-search {
        margin: 70px 0 0 70px;
    }
    .show-image-video {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) and (max-height: 600px) {
    .section-2 {
        margin-top: 100px;
    }
    .section1__title-search {
        margin: 70px 0 0 70px;
    }
    .show-image-video {
        display: none;
    }
}
